
body {
  font-family: Helvetica;
}



ul{
background: yellow;
list-style: none;
}

.main-cont{

}



.table-cont{
display: inline-block;
margin-left: 1%;
width: 55%;
}

.table-cont-sell, .table-cont-history{
width: 55%;
margin:auto;
}

.heading{
text-align:center;

position:relative;
}


#stock-table tr th{
    background: #098bdc;
    color: white;

}

#sell-table tr th{
    background: #098bdc;
    color: white;

}

#code-table tr th{
    background: #098bdc;
    color: white;

}


#stock-table, #product-table, #code-table, #sell-table  td, th{

      text-align: center;
      padding: 8px;
}



#sell-table{
margin:auto;
}


#product-table{
    background: blue;
    width: 40%;

}

#add-item-btn{
    width: 100px;
    height: 100px;
    background: blue;
}




/* table widgets */


.red{
    background: #ff7d66;
}

.red input{
    background: #ff7d66;
}


.original-entry{
    display: block;
}

.editButton{
    display: none;
}

.original-entry.editing{
display: none;
}

.editButton.editing{
display: block;
}


.new-entry{
display: none;
text-align: center;
font-size: 16px;
}

.new-entry.editing{
display: block;
height: 40px;
border: none;
border-bottom: 1px solid grey;
width: 80%;
margin: 5px;
background: #f2f2f2;
}


.new-entry.editing:focus{
outline: none;
border-bottom: 2px solid black;
}







.sell-input{
display: block;
height: 40px;
border: none;
border-bottom: 1px solid grey;
width: 80%;
margin: 5px;
text-align: center;
font-size: 18px;
background: #f2f2f2;
}


.sell-input:focus{
outline: none;
border-bottom: 2px solid black;
}




.showEditBtn{
     width: 50px;
     height: 40px;
     cursor: pointer;
     color: white;
     line-height: 40px;
     vertical-align: middle;
     text-align: center;
     background: #1e90ff;
     padding: 2px;

}

.showEditBtn:hover{
    background:#0080ff;
}

.showEditBtn.editing{
    background:#0080ff;
}


.editButton{
    padding: 0px;
    cursor: pointer;
    width: 50px;
    height: 40px;
    color: white;
    font-weight: bold;
    background: #22dd22;
    border: none;
}


.editButton:hover{
    background: #1cb01c;
}



.sellBtn{
    padding: 0px;
    cursor: pointer;
    width: 50px;
    height: 40px;
    color: white;
    font-weight: bold;
    background: #22dd22;
    border: none;
}


.sellBtn:hover{
    background: #1cb01c;
}



.deleteBtn{
    padding: 0px;
    cursor: pointer;
    width: 50px;
    height: 40px;
    color: red;
    background: white;
    border: 1px solid red;
    font-weight: bold;
}

.deleteBtn:hover{
    background: red;
    color: white;
    font-weight: bold;
}

.btnContainer{
height: 60px;
width: 70px;
padding-left: 8px;
}

.sellBtnContainer{
height: 60px;
width: 70px;
padding-left: 8px;
display: none;
}

.sellBtnContainer.show{
    display: inline-block;
}



.column, .expiration {

    font-size: 18px;
    text-align: center;
    width: 10%;
    background: #f2f2f2;
}

.column.prod-name{
width: 20%;
}

.column.code{
width: 30%;
}



.first{
width: 5%;
}





.form-container{
    display: inline-block;
    margin-left: 1%;
    width: 35%;
    height: 480px;
    min-width: 400px;
    position: relative;
    margin-left: 1%;
    vertical-align: top;
    margin-bottom: 50px;
    box-shadow: -2px 8px 8px #888888;
  
}



.form-container form{
    position: relative;


    padding: 5%;
    font-size: 18px;
}

.form-container form input{
    width: 95%;
    position: relative;
    font-size: 16px;

}


.add-imp{
height: 30px;
margin-top: 5px;
margin-bottom: 5px;
}






#submitBtn{
    background: #1e90ff;
    height: 40px;
    border: none;
    margin-top: 10px;
    color: white;
    cursor: pointer;

}

#submitBtn:hover{
background: #0080ff;
}

.nav-bar{
background: #cccccc;
height: 50px;
padding: 20px;
padding-left: 50px;
}

.nav-bar li{
color: black;
display: inline-block;
margin-right: 30px;
}

.nav-bar li a{
color: black;
}

.nav-bar li a:hover{
color: white;
}


.nav-bar li a i p{
font-size: 18px;
margin-top: 4px;
}

.logout{
float: right;
}



.btn-pagination{
  color: black;
  font-size: 20px;
  float: left;
  padding: 8px 16px;
  background-color: #f2f2f2;
  text-decoration: none;
}

.btn-pagination:hover{
    background-color: #ddd;
}



.btn-pagination.highlight{
background-color: #1e90ff;
}


.pagination-cont{

  width: 400px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 20px;
  margin-left: 20%;
}


.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}