#stock-table, #warehouse-table{
    border: 1px solid black;
}


#stock-table, #warehouse-table{
     margin: auto;


}

#stock-table, #warehouse-table td, th{
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;

}




.original-entry{
display: block;
}

.editButton{
display: none;
}

.original-entry.editing{
display: none;
}

.editButton.editing{
display: block;
}


.new-entry{
display: none;
}

.new-entry.editing{
display: block;
}


.edit-cont{

}


.hide{

}




.show{

}