<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
    <script src="https://kit.fontawesome.com/24a527e4a1.js" crossorigin="anonymous"></script>
    <title>History</title>
</head>
<body>

<ul class="nav-bar">

    <li><a href="/stock-items"><i class="fas fa-home fa-2x"><p>Home</p></i></a></li>

    <li><a href="/product-code"><i class="fas fa-barcode fa-2x"><p>Codes</p></i> </a></li>

    <li><a href="/sell-buy"><i class="fas fa-shopping-cart fa-2x"><p>Sell/Buy</p></i> </a></li>

     <li><a class="current" href="{{url_for('show_history')}}"><i class="fas fa-history fa-2x"><p>History</p></i></a> </li>


    <li class="logout"><a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt fa-2x"><p>Logout</p></i></a></li>
</ul><br>







<div class="table-cont-history">
    <h1 class="heading">History</h1>
    <table id="sell-table">
    <tr>
        <th>Sale Date</th>
        <th>Product Name</th>
        <th>Sold</th>

        <th>Bought</th>
    </tr>

    {% for i in sale_list %}
    <tr>
        <td class="column">{{i.sale_date}}</td>
        <td class="column">{{i.product_name}}</td>
        <td class="column">{{i.quantity}}</td>
        <td class="column">{{i.restock_quantity}}</td>





    </tr>


    {% endfor %}
    </table>

    <div class="pagination-cont-hist">
        <div class="wrap">
        {% for page_num in sales.iter_pages(left_edge=2, right_edge=2, left_current=2, right_current=2) %}

        {% if page_num %} {% if  sales.page == page_num %}

        <a class="btn-pagination highlight" href="{{ url_for('show_history', page=page_num) }}">
            {{page_num}}
        </a>

        {% else %}

        <a class="btn-pagination" href="{{ url_for('show_history', page=page_num) }}">
            {{page_num}}
        </a>

        {% endif %} {% else %} ... {% endif %} {% endfor %}
    </div>
</div>
</div>


</body>
</html>