<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
    <title>Warehouse Manager</title>
</head>
<body>



<script>

var stock_array = {{stock_array | tojson}};
var warehouse_list = {{warehouse_list | tojson}};



console.log(stock_array)
console.log(warehouse_list)



</script>


<ul>
    <li><a href="/warehouse">Warehouse</a></li>
    <li><a href="/stock-items">New Stock</a></li>
    <li><a href="/product-code">Product Codes</a></li>
</ul>




    <table id="stock-table">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Expiration Date</th>
            <th>Product Code</th>
            <th>Warehouse ID</th>
        </tr>


     {% for item in stock_array %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.unit}}</td>
            <td>{{item.expiration_date}}</td>
            <td>{{item.product_code}}</td>
            <td>{{item.warehouse_id}}</td>


        </tr>
        {% endfor %}
    </table>

<br>

    <table id="warehouse-table">
        <tr>
            <th>Name</th>
            <th>Address</th>
        </tr>


     {% for item in warehouse_list %}
        <tr>
            <form class="edit-frm">
                <td><p class="original-entry" id="warh{{item.id}}">{{item.name}}</p>
                    <input class="new-entry" placeholder="warehouse name" id="warehouse{{item.id}}" type="text" name="edit-name">
                </td>



                <td><p class="original-entry" id="addr{{item.id}}">{{item.address}}</p>
                    <input class="new-entry" placeholder="address" id="address{{item.id}}" type="text" name="edit-address">
                </td>


                <td class="btnContainer" >
                    <button class="deleteBtn original-entry"  data-id="{{item.id}}">Delete</button>
                    <input type="submit" class="editButton"  data-id="{{item.id}}">
                </td>


                <td class="showEditBtn" onclick="showEdit(this)">Edit</td>
            </form>




        </tr>

        {% endfor %}
    </table>


<br>

        <h2>Warehouse</h2>

        <form action="/warehouse" method="post">
          <label for="warehouse-name">Warehouse name:</label><br>
          <input type="text" id="warehouse-name" name="warehouse-name"><br>
          <label for="address">Address:</label><br>
          <input type="text" id="address" name="address"><br><br>
          <input id="submitBtn" type="submit" value="Submit">
        </form>


<br>






<script src="static/js/home.js"></script>

</body>
</html>