<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>



</head>
<body>



        <h2>Warehouse</h2>

        <form action="/post-warehouse">
          <label for="warehouse-name">Warehouse name:</label><br>
          <input type="text" id="warehouse-name" name="warehouse-name"><br>
          <label for="address">Address:</label><br>
          <input type="text" id="address" name="address"><br><br>
          <input type="submit" value="Submit">
        </form>

</body>
</html>