<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
    <script src="https://kit.fontawesome.com/24a527e4a1.js" crossorigin="anonymous"></script>

    <title>Title</title>
</head>


<body onload="checkDate()">


<script>

var stock_array = {{stock_array | tojson}};
var product_code_list = {{product_code_list | tojson}}

</script>



<ul class="nav-bar">

           <li><a href="/stock-items"><i class="fas fa-home fa-2x"><p>Home</p></i></a></li>

    <li><a href="/product-code"><i class="fas fa-barcode fa-2x"><p>Codes</p></i> </a></li>

    <li><a class="current" href="/sell-buy"><i class="fas fa-shopping-cart fa-2x"><p>Sell/Buy</p></i> </a></li>

     <li><a href="{{url_for('show_history')}}"><i class="fas fa-history fa-2x"><p>History</p></i></a> </li>
     <li class="logout"><a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt fa-2x"><p>Logout</p></i></a></li>
    <li class="pdf"><a href="{{url_for('download_pdf')}}"> <i class="far fa-file-pdf fa-2x"><p>PDF</p></i> </a> </li>

</ul><br>



<br>





<div class="main-cont">




<div class="table-cont-sell">

    <table id="sell-table">
        <tr class="row">
            <th class="column">Product</th>
            <th class="column">Quantity</th>
            <th class="column">Unit</th>
            <th class="column">Expiration date</th>
            <th class="column">Product Code</th>

        </tr>


     {% for item in stock_array %}



        <tr class="row">
            <form id="stock-frm">
                <td class="column">
                    <p id="stock{{item.id}}">{{item.product_name}}</p>
                </td>

                <td class="column">

                    <input onclick="showSellBtn(this)" class="sell-input" value="{{item.quantity}}" id="quantityID{{item.id}}"  type="number" name="edit-quantity">
                </td>

                {% for code in product_code_list %}
                {% if code['code'] == item.product_code  %}
                <td class="column">
                    <p class="original-entry" id="unit{{item.id}}">{{code['unit']}}</p>
                </td>

                <td class="column">
                    <p id="prod-code{{item.id}}">{{code['code_name']}}</p>
                </td>
                {% endif %}
                {% endfor %}

                <td class="expiration">
                    <p id="exp-date{{item.id}}">{{item.expiration_date}}</p>
                </td>




                <td class="sellBtnContainer">
                    <input type="submit" class="sellBtn"  data-id="{{item.id}}" value="Save">
                </td>

        </form>
        </tr>
        {% endfor %}

    </table>



    </div>





<div class="pagination-cont-sell">
    <div class="wrap">
{% for page_num in stock_paginate.iter_pages(left_edge=2, right_edge=2, left_current=2, right_current=2) %}

{% if page_num %} {% if  stock_paginate.page == page_num %}

<a class="btn-pagination highlight" href="{{ url_for('show_stock_items', page=page_num) }}">
    {{page_num}}
</a>

{% else %}

<a class="btn-pagination" href="{{ url_for('show_stock_items', page=page_num) }}">
    {{page_num}}
</a>

{% endif %} {% else %} ... {% endif %} {% endfor %}

    </div>
</div>


</div>


<br><br><br>




<script src="static/js/sell-buy.js"></script>


</body>
</html>