<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
    <title>Title</title>
</head>


<body onload="checkDate()">


<script>

var stock_array = {{stock_array | tojson}};
var product_code_list = {{product_code_list | tojson}}

</script>



<div class="main-cont">



<div class="form-container">

        <h2>Stock Items</h2>

        <form action="/stock-items" method="post">
          <label for="item-name">Product name:</label><br>
          <input type="text" id="item-name" name="item-name"><br>

          <label for="quantity">Quantity:</label><br>
          <input type="text" id="quantity" name="quantity"><br>


            <label for="expiration_date">Expiration date:</label><br>
          <input type="date" id="expiration_date" name="expiration_date"><br>

          <label for="product_code">Product Code:</label><br>
          <select  id="product_code" name="product_code">
          {% for code in product_code_list %}
              <option value="{{code['code']}}">{{code['code']}}</option>
          {% endfor %}
          </select><br>

          <input id="submitBtn" type="submit" value="Submit">
        </form>

</div>




    <table id="stock-table">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Expiration date</th>
            <th>Product Code</th>

        </tr>


     {% for item in stock_array %}
        <tr class="row">
            <form>
                <td class="column">
                    <p class="original-entry" id="stock{{item.id}}">{{item.product_name}}</p>
                    <input class="new-entry" placeholder="product name" id="stockID{{item.id}}" type="text" name="edit-product_name">
                </td>

                <td class="column">
                    <p class="original-entry" id="quantity{{item.id}}">{{item.quantity}}</p>
                    <input class="new-entry" placeholder="quantity" id="quantityID{{item.id}}" type="text" name="edit-quantity">
                </td>

                {% for code in product_code_list %}

                {% if code['code'] == item.product_code %}

                <td class="column">
                    <p class="original-entry" id="unit{{item.id}}">{{code.unit}}</p>

                </td>


                {% endif %}
                {% endfor %}

                <td class="expiration">
                    <p class="original-entry" id="exp-date{{item.id}}">{{item.expiration_date}}</p>
                    <input class="new-entry" placeholder="expiration date" id="exp-dateID{{item.id}}" type="date" name="edit-expiration_date">
                </td>

                <td class="column">
                    <p class="original-entry" id="prod-code{{item.id}}">{{item.product_code}}</p>
                    <input class="new-entry" placeholder="product code" id="prod-codeID{{item.id}}" type="text" name="edit-product_code">
                </td>


                <td class="btnContainer">
                    <button class="deleteBtn original-entry"  data-id="{{item.id}}">Delete</button>
                    <input type="submit" class="editButton"  data-id="{{item.id}}">
                </td>

                <td class="showEditBtn" onclick="showEdit(this)">Edit</td>
        </form>
        </tr>
        {% endfor %}
    </table>

</div>

<br>
<ul>

    <li><a href="/product-code">Product Codes</a></li>
</ul><br>






<script src="static/js/stock.js"></script>


</body>
</html>