<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
    <script src="https://kit.fontawesome.com/24a527e4a1.js" crossorigin="anonymous"></script>

    <title>Title</title>
</head>


<body onload="checkDate()">


<script>

var stock_array = {{stock_array | tojson}};
var product_code_list = {{product_code_list | tojson}}

</script>



<ul>

    <li><a href="/product-code"><i class="fas fa-barcode fa-2x">  Product Codes</i> </a></li>
</ul><br>



<a href="{{url_for('download_pdf')}}"> <i class="far fa-file-pdf fa-5x"> PDF</i> </a>
<br><br>


<div id="exp_notif" ></div>
<br><br>


<div class="main-cont">

<div id="form-cont" class="form-container">

        <h2>Stock Items</h2>

        <form action="/stock-items" method="post">
          <label for="item-name">Product name:</label><br>
          <input type="text" id="item-name" name="item-name"><br>

          <label for="quantity">Quantity:</label><br>
          <input type="text" id="quantity" name="quantity"><br>


            <label for="expiration_date">Expiration date:</label><br>
          <input type="date" id="expiration_date" name="expiration_date"><br>

          <label for="product_code">Product Code:</label><br>
          <select  id="product_code" name="product_code">
          {% for code in product_code_list %}
              <option value="{{code['code']}}">{{code['code']}}</option>
          {% endfor %}
          </select><br>

          <input id="submitBtn" type="submit" value="Submit">
        </form>

</div>



<div class="table-cont">

    <table id="stock-table">
        <tr class="row">
            <th class="column">Product</th>
            <th class="column">Quantity</th>
            <th class="column">Unit</th>
            <th class="column">Expiration date</th>
            <th class="column">Product Code</th>

        </tr>


     {% for item in stock_array %}



        <tr class="row">
            <form id="stock-frm">
                <td class="column">
                    <p class="original-entry" id="stock{{item.id}}">{{item.product_name}}</p>
                    <input class="new-entry" placeholder="product name" id="stockID{{item.id}}" type="text" name="edit-product_name">
                </td>

                <td class="column">
                    <p class="original-entry" id="quantity{{item.id}}">{{item.quantity}}</p>
                    <input class="new-entry" placeholder="quantity" id="quantityID{{item.id}}" type="text" name="edit-quantity">
                </td>

                {% for code in product_code_list %}

                {% if code['code'] == item.product_code %}

                <td class="column">
                    <p class="original-entry" id="unit{{item.id}}">{{code.unit}}</p>

                </td>


                {% endif %}
                {% endfor %}

                <td class="expiration">
                    <p class="original-entry" id="exp-date{{item.id}}">{{item.expiration_date}}</p>
                    <input class="new-entry" placeholder="expiration date" id="exp-dateID{{item.id}}" type="date" name="edit-expiration_date">
                </td>

                <td class="column">
                    <p class="original-entry" id="prod-code{{item.id}}">{{item.product_code}}</p>
                    <input class="new-entry" placeholder="product code" id="prod-codeID{{item.id}}" type="text" name="edit-product_code">
                </td>


                <td class="btnContainer">
                    <button class="deleteBtn original-entry"  data-id="{{item.id}}">Delete</button>
                    <input type="submit" class="editButton"  data-id="{{item.id}}" value="Save">
                </td>

                <td onclick="showEdit(this)"><div class="showEditBtn">Edit</div></td>
        </form>
        </tr>
        {% endfor %}

    </table>



    </div>
</div>





{% for page_num in stock_paginate.iter_pages(left_edge=2, right_edge=2, left_current=2, right_current=2) %}

{% if page_num %} {% if  stock_paginate.page == page_num %}

<a class="btn btn-info nb-4" href="{{ url_for('show_stock_items', page=page_num) }}">
    {{page_num}}
</a>

{% else %}

<a class="btn btn-outline-info nb-4" href="{{ url_for('show_stock_items', page=page_num) }}">
    {{page_num}}
</a>

{% endif %} {% else %} ... {% endif %} {% endfor %}







<script src="static/js/stock.js"></script>


</body>
</html>